.frame {
	margin: 50px auto;
}

.frame h1,h2 {
	text-align: center;
}
.button {
    background: rgb(65,62,119);
    color: rgb(250, 250, 250);
    border: 1px solid rgb(250, 250, 250);
    border-radius: 20px;
    text-shadow:none;
    width: 60px;
    height: 33px;
}
.button:hover {
    background: rgb(191,216,255);
    color: #fff;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 20px;
    text-shadow:none;
}
input{
	width: 90%;
	margin: 1px auto 15px;
}
a:link, a:visited {
	color: rgb(250,250,250);
	text-decoration: none;
}

a:hover {
	color: rgb(167,180,4);
}
