body {
	background-color: rgb(210,210,210);
	color: rgb(250,250,250);
}

.frame {
	border: 7px solid rgb(65,62,119);
	border-radius: 25px;
	background-color: rgb(92,88,138);
	margin: 50px auto;
}

.frame h1,h2 {
	text-align: center;
}

input{
	width: 90%;
	margin: 1px auto 15px;
}

a:link, a:visited {
	color: rgb(250,250,250);
	text-decoration: none;
}

a:hover {
	color: rgb(167,180,4);
}
