.frame {
    height: 550px;
    width: 360px;
	margin: 50px auto;
    border: 0.5px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.frame h1,h2 {
	text-align: center;
}

.button {
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    text-shadow:none;
}

.green {
    background: #82d800;
}

.green:hover {
    background: #9dff08;
}

.red {
    background: #d50027;
}

.red:hover {
    background: #ff264e;
}

input {
    height: 70%;
	width: 100%;
    border: 1px solid black;
}

a:link, a:visited {
	color: black;
	text-decoration: underline;
}

a:hover {
	opacity: 0.6%;
}

.menu {
    border: 0.5px solid black; 
    width: 199px; 
    float: left;
}
