.history_container {
    margin-top: 10%;
    height: 79%;
    border: 1px solid red;
}

.history_container .subheader {
	height: 10%;
}

.history_container > * {
	
}

.page_menu {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page_menu > li {
	width: 50%;
	display: inline;
	float: left;
}

.history_menu {
	border: 0.5px solid black; 
    text-align: center;
    font-family: calibri;

	position: relative;;
	border: 0.5px solid black;
	display: block;

	text-decoration: none;
}

.history_menu > h3 {
	margin: 5px 1px;
}