.history_container {
    margin-top: 10%;
    height: 79%;
    border: 1px solid red; /*OJO LALI HAPUS IKI*/
}

.history_container .subheader {
	height: 10%;
}

.history_container > * {
	
}

.page_menu {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page_menu > li {
	width: 50%;
	display: inline;
	float: left;
}

.history_menu {
	border: 0.5px solid black; 
    text-align: center;
    font-family: calibri;

	position: relative;;
	border: 0.5px solid black;
	display: block;

	text-decoration: none;
}

.history_menu > h3 {
	margin: 5px 1px;
}
<<<<<<< HEAD
=======

#history_table_container {
	overflow-y: auto;
	height: inherit;
}

table.history_table {
	margin-top: 5px;
	border: 1px solid blue; /*OJO LALI HAPUS IKI*/
	width: 100%;
	border: 1px solid purple;
    padding: 0;
    border-collapse: collapse;
}

table.history_table p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-style: "Lucida Console", Monaco, monospace;
}

td.history_column {
	padding: 2px 0 0 8px;
}

p.history_date {
	color: grey;
	font-weight: bold;
}

p.history_username {
	font-size: 20px;
	font-weight: bold;
}

p.history_loc {

}

p.history_rating {

}

p.history_comment {

}

table.history_table th, td {
	border: 1px solid purple;
    padding: 0;
    border-collapse: collapse;
}

p.history_table td {
	vertical-align: top;
}

img.history_pict {
    width: 100px;
    height: 100px;
    overflow: auto;
    border-radius: 50%;
    display: inline;
    margin: 0;
    
}